.pane {
  padding: 15px;
}

.margin-15 { margin: 15px; }
.margin-15-horizontal { margin-left: 15px; margin-right: 15px; }
.margin-15-vertical { margin-top: 15px; margin-bottom: 15px; }

input {
  border: 0px;
  height: 35px;
  padding: 10px;
  color: #6b7c93;
}
